.footer {
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.footer__link {
    text-decoration: none;
    color: cadetblue;
}

.footer__link:hover {
    color: #ff0000;
    border-bottom: 1px solid;
    outline: none;
}