html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: ivory;
    font-family: 'Noto Sans Lepcha', sans-serif;
}

.hidden {
    display: none;
}